<ul class="main-header-item-list">
    <li class="main-header-item" routerLinkActive="active">
        <a [routerLink]="'/' + links.BOOKS" class="navbar-link"
        >Books</a
        >
    </li>
    <li
            *ngIf="isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a
                [routerLink]="'/' + links.LIBRARIAN_SCHEDULE"
                class="navbar-link"
        >Schedule</a
        >
    </li>
    <li
            *ngIf="isLibrarian || isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.LOANS" class="navbar-link"
        >Loans</a
        >
    </li>
    <li
            *ngIf="isLibrarian"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.ORDERS" class="navbar-link"
        >Orders</a
        >
    </li>
    <li
            *ngIf="isLibrarian || isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.LOANS_CHART" class="navbar-link"
        >Statistic</a
        >
    </li>
    <li
            *ngIf="isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.LIBRARIANS" class="navbar-link"
        >Librarians</a
        >
    </li>
    <li
            *ngIf="isLibrarian || isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.STUDENTS" class="navbar-link"
        >Students</a
        >
    </li>
    <li
            *ngIf="isLibrarian || isManager"
            class="main-header-item"
            routerLinkActive="active"
    >
        <a [routerLink]="'/' + links.EDIT_PAGE" class="navbar-link"
        >Managing</a
        >
    </li>
</ul>
