<div class="wrapper">
    <div class="d-flex flex-wrap">
        <mat-card class="card mr-4">
            <section class="d-flex align-items-center justify-content-between">
                <div>
                  <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select [(ngModel)]="model" (ngModelChange)="value = null">
                      <mat-option value="user">User</mat-option>
                      <mat-option value="book">Book</mat-option>
                      <mat-option value="librarian" *ngIf="isManager">Librarian</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="ml-2">
                    <mat-label>{{ getInputName() }}</mat-label>
                    <input matInput [(ngModel)]="value" [disabled]="!model" />
                  </mat-form-field>
                </div>
                <button mat-stroked-button color="primary" type="button"
                        class="ml-2" matTooltip="Show statistic"
                        [disabled]="!model || !value"
                        (click)="onShowStatistic()"
                >
                    Show statistic
                </button>
            </section>
          <mat-divider></mat-divider>
          <div class="chart" *ngIf="!isChartEmpty()">
                <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="statistic"
                >
                </ngx-charts-line-chart>
            </div>
            <div class="d-flex justify-content-center align-items-center h-75" *ngIf="isChartEmpty()">
                <h2>Chart is empty</h2>
            </div>
        </mat-card>
        <mat-card *ngIf="summaryStatistic.length">
            <ngx-charts-number-card
                    [view]="view2"
                    [scheme]="colorScheme2"
                    [results]="summaryStatistic"
                    [cardColor]="cardColor"
            ></ngx-charts-number-card>
        </mat-card>
    </div>
</div>
<app-small-screen></app-small-screen>
