<div class="wrapper fadeInDown">
    <div class="form-content">
        <span class="page-title">Add librarian</span>
        <hr style="background-color: #0d0d0d;" />
        <form (ngSubmit)="onCreateUser()" [formGroup]="createUserForm">
            <mat-form-field class="form-input d-block">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    type="email"
                    name="email"
                    formControlName="email"
                    placeholder="Ex. example@mail.com"
                />
                <mat-error *ngIf="error">
                    {{ error }}
                </mat-error>
                <mat-error *ngIf="hasError('email', 'required') && !error">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="
                        (hasError('email', 'email') ||
                            hasError('email', 'pattern')) &&
                        !error
                    "
                >
                    Email is not valid
                </mat-error>
            </mat-form-field>
            <div class="btn-group">
                <button
                    mat-raised-button
                    color="primary"
                    class="form-button"
                    type="submit"
                    [disabled]="createUserForm.invalid"
                >
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
