<div class="wrapper">
    <div class="form" *ngVar="student$ | async as student">
        <p class="form__title">User info</p>
        <hr style="background-color: #0d0d0d;" />
        <mat-spinner class="m-auto" *ngIf="isLoading"></mat-spinner>
        <section class="user-info-section" *ngIf="!isLoading">
            <aside class="image-aside">
                <img
                    class="profile-image"
                    src="{{student.image || 'https://www.w3schools.com/w3css/img_avatar3.png'}}"
                    alt="Avatar"
                />
            </aside>
            <section class="info-section">
                <section class="user-personal-info">
                    <p>Name: <span class="text-main">{{ student.name }}</span></p>
                    <p>Email: <span class="text-main">{{ student.email }}</span></p>
                    <p>Phone: <span class="text-main">{{ student.email }}</span></p>
                </section>
                <section class="user-library-info">
                    <p>Status: <span class="text-main">{{ student.active ? 'Active' : 'Not Active' }}</span></p>
                </section>
            </section>
        </section>
        <mat-divider style="margin: 10px auto 0;"></mat-divider>
        <mat-tab-group>
            <mat-tab label="Loans">
<!--                <app-loan-section-->
<!--                    [helperService]="helperService"-->
<!--                ></app-loan-section>-->
            </mat-tab>
            <mat-tab label="Orders">
<!--                <app-orders-section-->
<!--                    [helperService]="helperService"-->
<!--                ></app-orders-section>-->
            </mat-tab>
            <mat-tab label="Statistic">
<!--                <app-chart-section-->
<!--                    *ngIf="!isLoading"-->
<!--                    [name]="student.name"-->
<!--                    [helperService]="helperService"-->
<!--                ></app-chart-section>-->
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
