<div class="wrapper">
    <div class="form-content">
        <span class="page-title">User info</span>
        <hr style="background-color: #0d0d0d;" />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <section class="user-info-section" *ngIf="!isLoading">
            <aside class="image-aside">
                <img
                    class="profile-image"
                    src="{{
                        student.profileImage
                            ? student.profileImage
                            : 'https://www.w3schools.com/w3css/img_avatar3.png'
                    }}"
                    alt="Avatar"
                />
            </aside>
            <section class="info-section">
                <section class="user-personal-info">
                    <p>
                        Name: <b>{{ student.name }}</b>
                    </p>
                    <p>
                        Email: <b>{{ student.email }}</b>
                    </p>
                    <button
                        mat-raised-button
                        color="primary"
                        type="button"
                        class="btn"
                        matTooltip="{{
                            student.status === 'ACTIVATED'
                                ? 'Block student'
                                : 'Activate student'
                        }}"
                    >
                        {{
                            student.status === 'ACTIVATED'
                                ? 'Block'
                                : 'Activate'
                        }}
                    </button>
                </section>
                <section class="user-library-info">
                    <p>
                        Reader ticket: <b>{{ student.readerTicket }}</b>
                    </p>
                    <p>
                        Status: <b>{{ student.status }}</b>
                    </p>
                </section>
            </section>
        </section>
        <mat-divider style="margin: 10px auto 0;"></mat-divider>
        <mat-tab-group>
            <mat-tab label="Loans">
                <section class="student-loan-info">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input
                            matInput
                            (keyup)="applyFilter($event)"
                            placeholder="Ex. Mia"
                        />
                    </mat-form-field>

                    <div class="mat-elevation-z8 user-loans-table">
                        <table mat-table [dataSource]="loansDataSource" matSort>
                            <ng-container matColumnDef="loanTime">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Loan time
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.loanTime | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="returnedTime">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Returned time
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{
                                        row.returnedTime
                                            ? (row.returnedTime | date)
                                            : 'Not returned yet'
                                    }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bookISBN">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    ISBN
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.bookISBN }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="librarianEmail">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Librarian email
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.librarianEmail }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="departmentAddress">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Department address
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.departmentAddress }}
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedLoanColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: displayedLoanColumns
                                "
                            ></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Orders">
                <section class="student-loan-info">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input
                            matInput
                            (keyup)="applyFilter($event)"
                            placeholder="Ex. Mia"
                        />
                    </mat-form-field>

                    <div class="mat-elevation-z8 user-loans-table">
                        <table
                            mat-table
                            [dataSource]="ordersDataSource"
                            matSort
                        >
                            <ng-container matColumnDef="orderTime">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Order time
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.orderTime | date }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bookISBN">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    ISBN
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.bookISBN }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="departmentAddress">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Department address
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.departmentAddress }}
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedOrderColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: displayedOrderColumns
                                "
                            ></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Statistic">
                <section class="statistic-section">
                    <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-line-chart>
                </section>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
