<div class="wrapper">
    <div class="form-content">
        <span class="page-title">User info</span>
        <hr style="background-color: #0d0d0d;" />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <section class="user-info-section" *ngIf="!isLoading">
            <aside class="image-aside">
                <img
                    class="profile-image"
                    src="{{
                        student.profileImage
                            ? student.profileImage
                            : 'https://www.w3schools.com/w3css/img_avatar3.png'
                    }}"
                    alt="Avatar"
                />
            </aside>
            <section class="info-section">
                <section class="user-personal-info">
                    <p>
                        Name: <b>{{ student.name }}</b>
                    </p>
                    <p>
                        Email: <b>{{ student.email }}</b>
                    </p>
                    <button
                        mat-raised-button
                        color="primary"
                        type="button"
                        class="btn"
                        matTooltip="{{
                            student.status === 'ACTIVATED'
                                ? 'Block student'
                                : 'Activate student'
                        }}"
                    >
                        {{
                            student.status === 'ACTIVATED'
                                ? 'Block'
                                : 'Activate'
                        }}
                    </button>
                </section>
                <section class="user-library-info">
                    <p>
                        Reader ticket: <b>{{ student.readerTicket }}</b>
                    </p>
                    <p>
                        Status: <b>{{ student.status }}</b>
                    </p>
                </section>
            </section>
        </section>
        <mat-divider style="margin: 10px auto 0;"></mat-divider>
        <mat-tab-group>
            <mat-tab label="Loans">
                <app-loan-section
                    [studentId]="studentId"
                    [departments]="departments"
                    [helperService]="helperService"
                ></app-loan-section>
            </mat-tab>
            <mat-tab label="Orders">
                <app-orders-section
                    [studentId]="studentId"
                    [departments]="departments"
                    [helperService]="helperService"
                ></app-orders-section>
            </mat-tab>
            <mat-tab label="Statistic">
                <section class="statistic-section">
                    <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-line-chart>
                </section>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
