<div class="wrapper">
    <div class="form">
        <p class="form__title">Profile</p>
        <hr />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="!isLoading">
            <img
                class="profile-image"
                src="{{user.profileImage ? user.profileImage : 'https://www.w3schools.com/w3css/img_avatar3.png'}}"
                alt="Avatar"
            />
            <form (ngSubmit)="onChangeUserData()" [formGroup]="profileForm">
                <div class="my-3 d-flex justify-content-center">
                    <button
                        type="button"
                        mat-raised-button
                        style="margin-right: 5px;"
                        (click)="openChangeProfileImageDialog()"
                    >
                        Change image
                    </button>
                    <button
                        type="button"
                        mat-raised-button
                        (click)="openChangePasswordDialog()"
                    >
                        Change password
                    </button>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <mat-form-field class="form-input w-50">
                        <mat-label>Full name</mat-label>
                        <input
                            matInput
                            name="name"
                            formControlName="name"
                            placeholder="Ex. Anthony"
                        />
                        <mat-error *ngIf="hasError('name', 'required') && !error">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-input w-50">
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            name="email"
                            formControlName="email"
                            placeholder="Ex. example@mail.com"
                        />
                        <mat-error *ngIf="error">
                            {{ error }}
                        </mat-error>
                        <mat-error *ngIf="hasError('email', 'required') && !error">
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="
                                (hasError('email', 'email') ||
                                    hasError('email', 'pattern')) &&
                                !error
                            "
                        >
                            Email is not valid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="btn-group">
                    <button
                        mat-raised-button
                        color="primary"
                        class="form-button"
                        type="submit"
                        [disabled]="profileForm.invalid || !profileForm.touched"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
