<div mat-dialog-content>
    <h4 class="w-78-center">Would you like to change profile image?</h4>
    <form #imageForm="ngForm">
        <section class="w-78-center image-section">
            <input type="file" (change)="fileChangeEvent($event)" />

            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1"
                [cropperMinWidth]="250"
                [cropperMinHeight]="250"
                [onlyScaleDown]="true"
                [roundCropper]="true"
                (imageCropped)="imageCropped($event)"
            ></image-cropper>
        </section>

        <div class="btn-group text-center">
            <button
                mat-raised-button
                class="form-btn"
                color="primary"
                type="submit"
                [disabled]="imageForm.invalid"
                [mat-dialog-close]="data.imageBase64"
            >
                Confirm
            </button>
            <button
                mat-stroked-button
                class="form-btn"
                color="primary"
                type="button"
                (click)="dialogRef.close()"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
