<div mat-dialog-content>
    <p>Would you like to change profile image?</p>
    <form class="modal-form" #imageForm="ngForm">
        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper
            style="margin: 0 auto;"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1"
            [cropperMinWidth]="250"
            [cropperMinHeight]="250"
            [onlyScaleDown]="true"
            [roundCropper]="true"
            (imageCropped)="imageCropped($event)"
        ></image-cropper>

        <button mat-raised-button class="no-button" (click)="onNoClick()">
            Cancel
        </button>

        <button
            class="form-button modal-form-submit"
            style="display: inline-block;"
            type="submit"
            [disabled]="imageForm.invalid"
            [mat-dialog-close]="data.imageBase64"
        >
            Confirm
        </button>
    </form>
</div>
