@import "~ng-pick-datetime/assets/style/picker.min.css"

$font-main: Robotom, "Helvetica Neue", sans-serif

$color-main: #ffc107
$color-main-light: #fff8e1
$color-main-darker: #ff9400
$color-main-less-saturation: #b16400
$color-background: #FFFFFF
$color-dark: #000000
$color-success: #0AAC00
$color-warn: #F18000
$color-danger: #C30415

html, body
  margin: 0
  height: 100%
  min-height: 100%
  position: relative

body
  margin: 0
  font-family: $font-main

  .container
    width: 70%
    margin: 2% auto

.mat-form-field-empty.mat-form-field-label
  color: $color-main

.text-center
  text-align: center

.w-78-center
  width: 78%
  margin: 10px auto
  &.image-section
    margin: 0 auto


/* Form structure */

.wrapper
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  max-height: 100%

.page-title
  display: block
  color: rgb(13, 13, 13)
  font-size: 25px
  margin-top: 2%

.form-content
  margin-top: 7%
  margin-bottom: 5%
  border-radius: 10px 10px 10px 10px
  background: $color-background
  width: 40%
  position: relative
  padding: 0
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3)
  text-align: center

.form-footer
  background-color: rgb(246, 246, 246)
  border-top: 1px solid rgb(220, 232, 241)
  padding: 25px
  text-align: center
  border-radius: 0 0 10px 10px

.modal-form
  text-align: center
  .modal-input
    width: 80%



/* form input */

.form-input
  margin: 10px auto 0 auto
  width: 60%

/* Form button */


.btn-group
  .form-button
    margin: 0 auto 15px
    width: 25%
    transition: all 0.7s ease-in-out
  .form-btn
    width: 38%
    &.move-btn
      border: 1px solid $color-main
    &.add-form-btn
      width: 29%
    &:first-of-type
      margin-right: 2%
  .choose-img-btn
     margin-bottom: 10px

.button-group
  .filter-form-button
    width: 43%
    margin-right: 5%
    display: inline-block

// cancel button in button

.no-button
  width: 100px
  display: inline-block
  margin-right: 10px

/*  */

.d-block
  display: block

/* Pagination */

.pagination-container
  margin-left: 40%


/* Animation */

/* Link animation */

.underline-link
  color: $color-main
  text-decoration: none
  display: inline-block
  font-weight: 400


.underline-hover:after
  display: block
  left: 0
  bottom: -10px
  width: 0
  height: 2px
  background-color: $color-main
  content: ""
  transition: width 0.2s

.underline-hover:hover
  color: $color-dark

.underline-hover:hover:after
  width: 100%

//Table

table
  width: 100%


tr.detail-row
  height: 0


tr.element-row:not(.expanded-row):hover
  background: whitesmoke


tr.element-row:not(.expanded-row):active
  background: #efefef


.element-row td
  border-bottom-width: 0

// user-table-expand

.user-table-expand-detail
  overflow: hidden
  display: flex

  .profile-image-container
    flex: 10%
    border: 1px solid black
    padding: 8px
    margin: 8px 0

  .info-section
    flex: 80%
    margin-left: 10px

  .user-link
    display: flex
    flex: 10%
    align-items: center
    justify-content: center
    .user-link-button
      display: block
      color: $color-main

  .profile-image
    max-height: 112.5px
    min-height: 112.5px
    max-width: 112.5px
    min-width: 112.5px


// userDetails

.user-info-section
  display: flex

  .image-aside
    flex: 30%
    align-items: center
    justify-content: center

    .profile-image
      max-width: 200px
      max-height: 200px
      min-height: 200px
      min-width: 200px

  .info-section
    display: flex
    flex: 70%
    text-align: left
    .user-personal-info
      flex: 50%

    .user-library-info
      flex: 50%

.user-loans-table
  width: 95%
  margin: 0 auto 10px
  table
    width: 95%
    margin: 0 auto
    td, th
      width: 20%
      text-align: left

//Statistic section

.statistic-section
  display: flex
  justify-content: center
  ngx-charts-line-chart
    margin-top: 5%

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown
  animation-name: fadeInDown
  animation-duration: 1s
  animation-fill-mode: both

@-webkit-keyframes fadeInDown
  0%
    opacity: 0
    transform: translate3d(0, -100%, 0)

  100%
    opacity: 1
    transform: none


@keyframes fadeInDown
  0%
    opacity: 0
    transform: translate3d(0, -100%, 0)

  100%
    opacity: 1
    transform: none


/* Simple CSS3 Fade-in Animation */

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  opacity: 0
  animation: fadeIn ease-in 1
  animation-fill-mode: forwards

  animation-duration: 1s


.fadeIn.second
  animation-delay: 0.6s


.fadeIn.third
  animation-delay: 0.8s


.fadeIn.fourth
  animation-delay: 1s


/* Pagination */

.pagination
  margin: 2rem 0 2rem 0
  text-align: center

/* Snackbar */

.success-snackbar
  background: $color-background
  border: 2px solid $color-success
  color: $color-success


.warn-snackbar
  background: $color-background
  border: 2px solid $color-warn
  color: $color-warn


.danger-snackbar
  background: $color-background
  border: 2px solid $color-danger
  color: $color-danger

/* Scrollbar */

/* width */
::-webkit-scrollbar
  width: 10px


/* Track */
::-webkit-scrollbar-track
  background: rgb(241, 241, 241)
  border-radius: 10px


/* Handle */
::-webkit-scrollbar-thumb
  background: $color-main
  border-radius: 10px


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #ff9400

@media screen and (max-width: 576px)
  .no-button
    padding: 3px
    width: 50px

  .modal-form-submit
    padding: 15px 5px

  .form-content
    width: 90%

  .form-input
    width: 80%

  .form-button
    width: 40%
    padding: 10px 30px


@media screen and (max-width: 768px) and (min-width: 577px)
  .form-content
    width: 80%

  .form-input
    width: 70%

  .form-button
    padding: 15px 60px


@media screen and (max-width: 992px) and (min-width: 769px)
  .form-content
    width: 70%

  .form-input
    width: 70%


@media screen and (max-width: 1200px) and (min-width: 993px)
  .form-content
    width: 50%

  .form-input
    width: 60%


