<div mat-dialog-content>
    <p>Please choose image</p>
    <form class="modal-form" #imageForm="ngForm">
        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="3 / 4"
            [cropperMinWidth]="350"
            [cropperMinHeight]="450"
            [onlyScaleDown]="true"
            (imageCropped)="imageCropped($event)"
        ></image-cropper>

        <button
            style="margin-right: 10px;"
            type="button"
            class="no-button"
            mat-raised-button
            (click)="onNoClick()"
        >
            Cancel
        </button>
        <button
            style="display: inline-block;"
            class="form-button modal-form-submit"
            type="submit"
            [disabled]="imageForm.invalid"
            [mat-dialog-close]="data.imageBase64"
        >
            Confirm
        </button>
    </form>
</div>
