<section class="edit-section">
    <h3>
        Please select period(left side) and change fields(right side) to edit
        period:
    </h3>
    <div class="input-groups flex">
        <div class="left-side">
            <mat-form-field class="edit-field">
                <mat-label>Period</mat-label>
                <mat-select
                    name="periodSelect"
                    [(ngModel)]="periodSelect"
                    (ngModelChange)="setPeriod()"
                    required
                >
                    <mat-option
                        *ngFor="let period of periods"
                        [value]="period.id"
                    >
                        {{ period.start }} -
                        {{ period.end }}
                    </mat-option>
                    <mat-divider></mat-divider>
                    <mat-option (click)="showPeriodAdding = true">
                        <b>Add period</b>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider
            vertical="vertical"
            style="margin-right: 10px;"
        ></mat-divider>
        <div class="right-side">
            <mat-form-field class="edit-field">
                <mat-label>Start</mat-label>
                <input
                    matInput
                    [ngxTimepicker]="pStart"
                    [(ngModel)]="periodStart"
                    [disabled]="!periodSelect"
                />
                <button
                    mat-button
                    *ngIf="periodStart"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="periodStart = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <ngx-material-timepicker #pStart></ngx-material-timepicker>
            <mat-form-field class="edit-field">
                <mat-label>End</mat-label>
                <input
                    matInput
                    [disabled]="!periodSelect"
                    [ngxTimepicker]="pEnd"
                    [(ngModel)]="periodEnd"
                />
                <button
                    mat-button
                    *ngIf="periodEnd"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="periodEnd = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <ngx-material-timepicker #pEnd></ngx-material-timepicker>
            <div class="btn-group">
                <button
                    mat-raised-button
                    class="form-btn edit-btn"
                    color="primary"
                    type="submit"
                    [disabled]="!periodEnd || !periodStart"
                    (click)="editPeriod()"
                >
                    Edit
                </button>
                <button
                    mat-raised-button
                    class="form-btn edit-btn"
                    color="warn"
                    type="button"
                    [disabled]="!periodSelect"
                    (click)="openConfirmDeleteDialog()"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</section>
<section class="add-section" *ngIf="showPeriodAdding">
    <mat-divider style="margin: 10px 0;"></mat-divider>
    <button
        mat-button
        class="close-adding-btn"
        (click)="showPeriodAdding = false"
    >
        <i class="material-icons">close</i>
    </button>
    <h3>Please fill in fields to add period:</h3>
    <div class="input-groups">
        <mat-form-field class="edit-field">
            <mat-label>Start</mat-label>
            <input
                matInput
                [ngxTimepicker]="pNewStart"
                [(ngModel)]="newPeriodStart"
            />
            <button
                mat-button
                *ngIf="newPeriodStart"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="newPeriodStart = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <ngx-material-timepicker #pNewStart></ngx-material-timepicker>

        <mat-form-field class="edit-field">
            <mat-label>End</mat-label>
            <input
                matInput
                [ngxTimepicker]="pNewEnd"
                [(ngModel)]="newPeriodEnd"
            />
            <button
                mat-button
                *ngIf="newPeriodEnd"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="newPeriodEnd = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <ngx-material-timepicker #pNewEnd></ngx-material-timepicker>
    </div>
    <div class="btn-group">
        <button
            mat-raised-button
            class="form-btn edit-btn"
            color="primary"
            type="submit"
            [disabled]="!newPeriodStart || !newPeriodEnd"
            (click)="addPeriod()"
        >
            Add
        </button>
        <button
            mat-stroked-button
            class="form-btn edit-btn"
            color="primary"
            type="submit"
            (click)="showPeriodAdding = false"
        >
            Cancel
        </button>
    </div>
</section>
