<div class="wrapper fadeInDown">
    <div class="form-content">
        <span class="page-title">Registration</span>
        <hr style="background-color: #0d0d0d;" />
        <form (ngSubmit)="onRegisterUser()" [formGroup]="regForm">
            <mat-form-field class="form-input">
                <mat-label>Reader ticket</mat-label>
                <input
                    matInput
                    type="number"
                    name="reader_ticket"
                    formControlName="reader_ticket"
                    placeholder="123213"
                />
                <mat-error *ngIf="error">
                    {{ error }}
                </mat-error>
                <mat-error
                    *ngIf="hasError('reader_ticket', 'required') && !error"
                >
                    Reader ticket is required
                </mat-error>
                <mat-error
                    *ngIf="hasError('reader_ticket', 'pattern') && !error"
                >
                    Reader ticket is not valid. Must starts with 1-9 and
                    contains 10 numbers
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-input">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    type="email"
                    name="email"
                    formControlName="email"
                    placeholder="Ex. example@mail.com"
                />
                <mat-error *ngIf="emailError">
                    {{ emailError }}
                </mat-error>
                <mat-error *ngIf="hasError('email', 'required') && !error">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="
                        (hasError('email', 'email') ||
                            hasError('email', 'pattern')) &&
                        !error
                    "
                >
                    Email is not valid. Ex. example@mail.com
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-input">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    name="password"
                    formControlName="password"
                    placeholder="Ex. Qwerty8_"
                    #password
                />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
                >
                    <mat-icon>{{
                        checkIcon(hidePassword, password.value)
                    }}</mat-icon>
                </button>
                <mat-error *ngIf="hasError('password', 'required') && !error">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="hasError('password', 'pattern') && !error">
                    Password is not valid. Ex. Qwerty8_
                </mat-error>
                <mat-error *ngIf="isPasswordError">
                    {{ error }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-input">
                <mat-label>Input password again</mat-label>
                <input
                    matInput
                    [type]="hideRetypePassword ? 'password' : 'text'"
                    name="password2"
                    formControlName="password2"
                    #password2
                />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hideRetypePassword = !hideRetypePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideRetypePassword"
                >
                    <mat-icon>{{
                        checkIcon(hideRetypePassword, password2.value)
                    }}</mat-icon>
                </button>
                <mat-error *ngIf="hasError('password2', 'required') && !error">
                    Please retype password
                </mat-error>
                <mat-error *ngIf="hasError('password2', 'pattern') && !error">
                    Please retype valid password. Ex. Qwerty8_
                </mat-error>
            </mat-form-field>
            <button
                class="form-button"
                type="submit"
                [disabled]="regForm.invalid"
            >
                Submit
            </button>
        </form>
        <div class="form-footer">
            <a class="underlineHover" [routerLink]="'/' + links.LOGIN">
                Already have account?
            </a>
        </div>
    </div>
</div>
