<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Authors
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-author-section
                (onOpenSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                (onNothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
            ></app-author-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Books
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-book-section
                (onOpenSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                [responseService]="responseService"
                [departmentSelect]="departmentSelect"
                [departments]="departments"
            ></app-book-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Departments
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-department-section
                (onOpenSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                (onNothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [departmentService]="departmentService"
                [departmentSelect]="departmentSelect"
                [departments]="departments"
            ></app-department-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Genres
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-genre-section
                (onOpenSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                (onNothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
            ></app-genre-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Students
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-section
                (onOpenSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                (onNothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
            ></app-student-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schedule
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-schedule-section
                    (openSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                    (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [periods]="periods"
            ></app-schedule-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Period
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-period-section
                (openSnackbar)="
                    openSnackBar($event[0], $event[1], snackbarDuration)
                "
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [periods]="periods"
            ></app-period-section>
        </mat-expansion-panel>
    </mat-accordion>
</div>
