<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Authors
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-author-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [helperService]="helperService"
            ></app-author-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Books
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-book-section
                [responseService]="responseService"
                [departmentSelect]="departmentSelect"
                [departments]="departments"
                [helperService]="helperService"
            ></app-book-section>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="isManager">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Departments
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-department-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [departmentService]="departmentService"
                [departmentSelect]="departmentSelect"
                [departments]="departments"
                [helperService]="helperService"
            ></app-department-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Genres
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-genre-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [helperService]="helperService"
            ></app-genre-section>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="isManager">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Librarians
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-librarian-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [departments]="departments"
                [librarians]="librarians"
                [librarianService]="librarianService"
                (setLibrarian)="onSetLibrarians()"
            ></app-librarian-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Students
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [helperService]="helperService"
            ></app-student-section>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="isManager">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schedule
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-schedule-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [periods]="periods"
                [helperService]="helperService"
                [librarians]="librarians"
            ></app-schedule-section>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="isManager">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Period
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-period-section
                (nothingToChange)="nothingChangeHandle()"
                [responseService]="responseService"
                [periods]="periods"
                [helperService]="helperService"
            ></app-period-section>
        </mat-expansion-panel>
    </mat-accordion>
</div>
