$el-width: 250px
$el-margin: 10px

.edit-section, .add-section
  text-align: center
  position: relative
  .edit-btn
    width: $el-width / 2 - $el-margin / 2
    &:first-of-type
      margin-right: $el-margin
  .close-adding-btn
    position: absolute
    right: 1%
    top: 1%
  .input-groups
    &.flex
      display: flex
      justify-content: center
      .edit-field
        margin-right: $el-margin
      .edit-btn
        margin-right: $el-margin
    .edit-field
      display: block
      width: $el-width
      margin: 0 auto

