<div class="container my-5">
    <mat-accordion>
        <mat-expansion-panel (click)="authors.expanded && onLoadAuthors()" #authors>
            <mat-expansion-panel-header>
                <mat-panel-title>Authors</mat-panel-title>
            </mat-expansion-panel-header>
            <app-author-section></app-author-section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Books</mat-panel-title>
            </mat-expansion-panel-header>
            <app-book-section></app-book-section>
        </mat-expansion-panel>
        <mat-expansion-panel (click)="genres.expanded && onLoadGenres()" #genres>
            <mat-expansion-panel-header>
                <mat-panel-title>Genres</mat-panel-title>
            </mat-expansion-panel-header>
            <app-genre-section></app-genre-section>
        </mat-expansion-panel>
        <mat-expansion-panel (click)="schedules.expanded && onLoadSchedules()" #schedules *ngIf="isManager">
            <mat-expansion-panel-header>
                <mat-panel-title>Schedule</mat-panel-title>
            </mat-expansion-panel-header>
            <app-schedule-section></app-schedule-section>
        </mat-expansion-panel>
    </mat-accordion>
</div>
