<section class="edit-section">
    <h3>
        Please select librarian(left side) and change fields(right) to edit
        librarian:
    </h3>
    <div class="input-groups flex">
        <div class="left-side">
            <mat-form-field class="edit-field">
                <mat-label>Librarian</mat-label>
                <mat-select
                    name="genreName"
                    [(ngModel)]="librarianSelect"
                    (ngModelChange)="setLibrarianData()"
                    required
                >
                    <mat-option
                        *ngFor="let librarian of librarians"
                        [value]="librarian.id"
                    >
                        {{ librarian.email }}({{ librarian.name }})
                    </mat-option>
                    <mat-divider></mat-divider>
                    <mat-option (click)="addLibrarian()">
                        <b>Add Librarian</b>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider
            vertical="vertical"
            style="margin-right: 10px;"
        ></mat-divider>
        <div class="right-side">
            <mat-form-field class="edit-field">
                <mat-label>Address</mat-label>
                <mat-select
                    name="address"
                    [(ngModel)]="librarianDepartment"
                    required
                >
                    <mat-option
                        *ngFor="let department of departments"
                        [value]="department.id"
                    >
                        {{ department.address }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="edit-field">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="librarianEmail" />
                <button
                    mat-button
                    *ngIf="librarianEmail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="librarianEmail = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="btn-group">
                <button
                    mat-raised-button
                    class="form-btn edit-btn"
                    color="primary"
                    type="submit"
                    [disabled]="!librarianSelect"
                    (click)="editLibrarian()"
                >
                    Edit
                </button>
                <button
                    mat-raised-button
                    class="form-btn edit-btn"
                    color="warn"
                    type="button"
                    [disabled]="!librarianSelect"
                    (click)="openConfirmDeleteDialog()"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</section>
