<mat-toolbar class="navbar">
    <img src="assets/main.png" alt="logo" class="navbar__icon" [routerLink]="links.HOME" />
    <div class="not-small-screen-container d-flex" *ngIf="!isSmallScreen">
        <a class="navbar__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/' + links.HOME">Home</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.BOOKS">Books</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.LIBRARIAN_SCHEDULE" *ngIf="isNotUser()">Schedule</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.LOANS" *ngIf="isNotUser()">Loans</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.ORDERS" *ngIf="isNotUser()">Orders</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.LOANS_CHART" *ngIf="isManager()">Statistic</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.LIBRARIANS" *ngIf="isManager()">Librarians</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.STUDENTS" *ngIf="isManager()">Students</a>
        <a class="navbar__item" routerLinkActive="active" [routerLink]="'/' + links.EDIT_PAGE" *ngIf="isNotUser()">Managing</a>
    </div>

    <span class="fill-remaining-space"></span>

    <div class="d-flex">
        <a class="navbar__item" [routerLink]="'/' + links.LOGIN" *ngIf="!isLoggedIn; else logout">Login</a>
        <ng-template #logout>
            <mat-menu #appMenu="matMenu">
                <a mat-menu-item routerLinkActive="menu-active" class="mat-menu-item" [routerLink]="'/' + links.MY_ACCOUNT">
                    Profile
                </a>
                <button mat-menu-item routerLinkActive="menu-active" class="mat-menu-item" (click)="openMyOrdersModal()" *ngIf="isUser()">
                    My orders
                </button>
                <div class="small-screen-container" *ngIf="isSmallScreen">
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.BOOKS">
                        Books
                    </a>
                    <a mat-menu-item routerLinkActive="menu-active" class="mat-menu-item" [routerLink]="'/' + links.LOANS" *ngIf="isNotUser()">
                        Loans
                    </a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.ORDERS" *ngIf="isNotUser()">
                        Orders
                    </a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.LOANS_CHART" *ngIf="isNotUser()">
                        Statistic
                    </a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.LIBRARIANS" *ngIf="isManager()">
                        Librarians
                    </a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.LIBRARIAN_SCHEDULE" *ngIf="isNotUser()">Schedule</a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.STUDENTS" *ngIf="isNotUser()">
                        Students
                    </a>
                    <a routerLinkActive="menu-active" mat-menu-item class="mat-menu-item" [routerLink]="'/' + links.EDIT_PAGE" *ngIf="isNotUser()">
                        Managing
                    </a>
                </div>
                <button mat-menu-item class="mat-menu-item" (click)="onLogoutUser()">
                    Logout
                </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <span class="image-cropper">
                    <img class="navbar-profile-image" alt="profile_image"
                         src="{{user.image ? user.image : 'https://www.w3schools.com/w3css/img_avatar3.png'}}"
                    />
                </span>
            </button>
        </ng-template>
    </div>
</mat-toolbar>
