@import '../../../styles';

$right-margin: 22px;

.navbar {
  position: relative;
  background: linear-gradient(145deg, $color-background calc(100% - 107px), $color-secondary 107px);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: $font-color-main;
  z-index: 5;

  &__icon {
    width: 40px;
    cursor: pointer;
    margin-right: $right-margin;

    &:focus {
      outline: none;
    }
  }

  &__item {
    text-decoration: none;
    cursor: pointer;
    color: $color-main;
    margin-right: $right-margin;

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-white;
      border-bottom: 1px solid $color-main;
    }
  }
}


.fill-remaining-space {
  flex: 1 1 auto;
}

.navbar-logout {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: 600;
}

.navbar-logout:hover {
  color: $color-main;
}


.image-cropper {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.navbar-profile-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.mat-menu-item {
  display: block;
  background-color: $color-background;
}

.mat-menu-item:hover {
  background-color: $color-main;
  color: $color-background;
}

/**/

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

