<mat-toolbar class="navbar">
    <img src="assets/main.png" alt="logo" style="width: 40px;" />
    <a [routerLink]="links.HOME" class="navbar-name">Library</a>
    <mat-divider
        [vertical]="true"
        style="height: 80%; background-color: black; margin: 0 0.3% 0 0;"
    ></mat-divider>
    <div class="not-small-screen-container" *ngIf="!isSmallScreen">
        <app-navbar-links
            [links]="links"
            [isManager]="isManager"
            [isLibrarian]="isLibrarian"
            [isStudent]="isStudent"
        ></app-navbar-links>
    </div>

    <span class="fill-remaining-space"></span>

    <ul class="main-header-item-list">
        <li *ngIf="!isLoggedIn; else logout">
            <a [routerLink]="'/' + links.LOGIN" class="navbar-link">Login</a>
        </li>
        <ng-template #logout>
            <mat-menu #appMenu="matMenu">
                <app-menu-links
                    [links]="links"
                    [isManager]="isManager"
                    [isLibrarian]="isLibrarian"
                    [isStudent]="isStudent"
                    [isSmallScreen]="isSmallScreen"
                ></app-menu-links>
                <button
                    mat-menu-item
                    routerLinkActive="menu-active"
                    class="mat-menu-item"
                    (click)="openMyOrdersModal()"
                    *ngIf="isStudent"
                >
                    My orders
                </button>
                <button
                    mat-menu-item
                    (click)="onLogoutUser()"
                    class="mat-menu-item"
                >
                    Logout
                </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <span class="image-cropper">
                    <img
                        class="navbar-profile-image"
                        src="{{
                            user.profileImage
                                ? user.profileImage
                                : 'https://www.w3schools.com/w3css/img_avatar3.png'
                        }}"
                        alt="profile_image"
                    />
                </span>
            </button>
        </ng-template>
    </ul>
</mat-toolbar>
