@import "../../../../styles";

.form {
  width: 60%;

  .mat-card {
    width: 90%;
    margin: 5px auto;
  }
}

.filter-section {
  .d-block {
    display: block;
    width: 30%;
    margin: 5px auto;
  }
}
