<div class="wrapper">
    <div class="form">
        <span class="page-title">Librarian info</span>
        <hr style="background-color: #0d0d0d;" />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <app-personal-info-section
            *ngIf="!isLoading"
            [librarian]="librarian"
        ></app-personal-info-section>
        <mat-divider style="margin: 10px auto 0;"></mat-divider>
        <mat-tab-group>
            <mat-tab label="Loans">
                <app-loans-section
                    [librarianId]="librarianId"
                    [helperService]="helperService"
                ></app-loans-section>
            </mat-tab>
            <mat-tab label="Schedule">
                <app-schedule-section
                    *ngIf="!isLoading"
                ></app-schedule-section>
            </mat-tab>
            <mat-tab label="Statistic">
                <app-chart-section
                    *ngIf="!isLoading"
                    [name]="librarian.name"
                    [helperService]="helperService"
                    [statistic]="librarian.statistic"
                ></app-chart-section>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
