<div class="wrapper">
    <div class="form-content">
        <span class="page-title">New book</span>
        <hr style="background-color: #0d0d0d;" />
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="mainBookInfoForm">
                <form [formGroup]="mainBookInfoForm">
                    <ng-template matStepLabel>Main info</ng-template>
                    <mat-form-field class="d-block form-input">
                        <input
                            type="text"
                            matInput
                            formControlName="isbn"
                            placeholder="Ex. 12321312321312"
                        />
                        <span matPrefix>ISBN </span>
                        <mat-error
                            *ngIf="hasError('isbn', 'pattern') && !error"
                        >
                            ISBN is not valid
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('isbn', 'required') && !error"
                        >
                            ISBN is required
                        </mat-error>
                        <mat-error *ngIf="error">
                            {{ error }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Book name</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="name"
                            placeholder="Ex. Angels and Demons"
                        />
                        <mat-error
                            *ngIf="hasError('name', 'required') && !error"
                        >
                            Book name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Quantity</mat-label>
                        <input
                            matInput
                            type="number"
                            name="quantity"
                            formControlName="quantity"
                            placeholder="Ex. 10"
                        />
                        <mat-error
                            *ngIf="hasError('quantity', 'required') && !error"
                        >
                            Quantity is required
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('quantity', 'max') && !error"
                        >
                            You cannot add so much books
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Department address</mat-label>
                        <mat-select name="address" formControlName="address">
                            <mat-option
                                *ngFor="let department of departments"
                                [value]="department.id"
                            >
                                {{ department.address }}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="hasError('address', 'required') && !error"
                        >
                            Department is required
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button
                            mat-stroked-button
                            matStepperNext
                            color="primary"
                            class="form-btn add-form-btn move-btn"
                        >
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="bookDetailsForm">
                <form [formGroup]="bookDetailsForm">
                    <ng-template matStepLabel>Book details</ng-template>
                    <mat-form-field class="form-input">
                        <mat-label>Book description</mat-label>
                        <textarea
                            matInput
                            rows="1"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            formControlName="description"
                            #bookDescription
                            placeholder="Ex. This book describes event..."
                            maxlength="512"
                        ></textarea>
                        <mat-hint align="end"
                            >{{
                                bookDescription.value?.length || 0
                            }}/512</mat-hint
                        >
                        <mat-error
                            *ngIf="
                                hasError('description', 'required') && !error
                            "
                        >
                            Description is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Author</mat-label>
                        <mat-select name="author" formControlName="author">
                            <mat-option
                                *ngFor="let author of authors"
                                [value]="author.id"
                            >
                                {{ author.name }}
                            </mat-option>
                            <mat-divider></mat-divider>
                            <mat-option (click)="openAddOptionModal('author')">
                                <b>Add author</b>
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="hasError('author', 'required') && !error"
                        >
                            Author is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Genre</mat-label>
                        <mat-select name="genre" formControlName="genre">
                            <mat-option
                                *ngFor="let genre of genres"
                                [value]="genre.id"
                            >
                                {{ genre.name }}
                            </mat-option>
                            <mat-divider></mat-divider>
                            <mat-option (click)="openAddOptionModal('genre')">
                                <b>Add genre</b>
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="hasError('genre', 'required') && !error"
                        >
                            Genre is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="d-block form-input">
                        <mat-label>Year</mat-label>
                        <input
                            matInput
                            type="number"
                            name="year"
                            formControlName="year"
                            placeholder="Ex. 2000"
                        />
                        <mat-error
                            *ngIf="hasError('year', 'required') && !error"
                        >
                            Year is required
                        </mat-error>
                        <mat-error *ngIf="hasError('year', 'min') && !error">
                            You cannot set minus year
                        </mat-error>
                        <mat-error *ngIf="hasError('year', 'max') && !error">
                            You cannot set higher year than present year
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button
                            mat-stroked-button
                            color="primary"
                            matStepperPrevious
                            class="form-btn add-form-btn move-btn"
                        >
                            Back
                        </button>
                        <button
                            mat-stroked-button
                            matStepperNext
                            color="primary"
                            class="form-btn add-form-btn move-btn"
                        >
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Submit</ng-template>
                <h4 *ngIf="!editMode">
                    You are almost done. Please select image and finish adding.
                </h4>
                <div class="btn-group">
                    <button
                        type="button"
                        class="d-block choose-img-btn"
                        mat-raised-button
                        (click)="openChoosePostImageDialog()"
                    >
                        Choose image
                    </button>
                </div>
                <div class="btn-group">
                    <button
                        mat-raised-button
                        class="form-btn add-form-btn"
                        color="primary"
                        (click)="onAddBook(stepper)"
                    >
                        {{ editMode ? 'Update book' : 'Add book' }}
                    </button>
                    <button
                        mat-stroked-button
                        color="primary"
                        matStepperPrevious
                        class="form-btn add-form-btn move-btn"
                    >
                        Back
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
