<section class="table-section user-details">
    <section class="mb-1">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-slide-toggle
                    color="primary"
                    class="d-block"
                    [(ngModel)]="isShowingDebtors"
                    (ngModelChange)="onLoadLoansPage()"
                    >Show only arrears</mat-slide-toggle
                >
            </mat-expansion-panel>
        </mat-accordion>
    </section>
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        matSort
        matSortActive="loanTime"
        matSortDirection="asc"
        matSortDisableClear
        class="mat-elevation-z8"
    >
        <ng-container [matColumnDef]="tableColumns.LOAN_TIME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Loan time
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.loanTime | date }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.RETURNED_TIME">
            <th mat-header-cell *matHeaderCellDef>
                Returned time
            </th>
            <td mat-cell *matCellDef="let row">
                {{
                    row.returnedTime
                        ? (row.returnedTime | date)
                        : 'Not returned yet'
                }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.BOOK_ISBN">
            <th mat-header-cell *matHeaderCellDef>
                ISBN
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.bookISBN }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.EMAIL">
            <th mat-header-cell *matHeaderCellDef>
                Librarian email
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.librarianEmail }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <mat-paginator
        [length]="4"
        [pageSize]="5"
    ></mat-paginator>
</section>
