<button mat-fab color="primary" class="filter-button" matTooltip="Open filter panel"
        [style.display]="showFilterButton ? 'block' : 'none'"
        (click)="onToggleFilterButton()"
>
    <i class="material-icons">arrow_forward_ios</i>
</button>
<mat-drawer-container class="page-container bg-main" autosize>
    <mat-drawer #drawer [disableClose]="true" class="sidenav" mode="over">
        <div>
            <button mat-button class="close-sidenav" (click)="onToggleFilterButton()">
                <i class="material-icons">close</i>
            </button>
            <h2>Choose a filter</h2>
            <mat-form-field class="w-100">
                <mat-label>Search</mat-label>
                <input matInput name="search" placeholder="Search" [(ngModel)]="filterValue" />
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="d-flex justify-content-between">
              <mat-form-field class="w-50">
                <mat-label>Year From</mat-label>
                <input matInput type="number" name="yearFrom" placeholder="Ex. 1689"[(ngModel)]="fromYear" />
              </mat-form-field>
              <mat-form-field class="w-50 ml-2">
                <mat-label>Year To</mat-label>
                <input matInput name="yearTo" placeholder="Ex. 2010" [(ngModel)]="toYear" />
              </mat-form-field>
            </div>
            <mat-form-field class="w-100">
                <mat-label>Author</mat-label>
                <mat-select [(ngModel)]="authors" multiple>
                    <mat-option [value]="author._id" *ngFor="let author of authors$ | async">{{ author.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Genre</mat-label>
                <mat-select [(ngModel)]="genres" multiple>
                    <mat-option [value]="genre._id" *ngFor="let genre of genres$ | async">{{ genre.name.en }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Language</mat-label>
                <input matInput placeholder="Language" [matAutocomplete]="languageAutoComplete" [formControl]="language">
                <mat-autocomplete #languageAutoComplete="matAutocomplete" [displayWith]="displayWith">
                    <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">{{ language.name }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="d-flex justify-content-between mb-3">
                <mat-slide-toggle class="w-50" color="primary"
                                  (change)="onToggleEbooks($event.checked)"
                                  [(ngModel)]="onlyEbooks"
                >
                    Ebooks
                </mat-slide-toggle>
                <mat-slide-toggle class="w-50" color="primary"
                                  (change)="onToggleNormalBooks($event.checked)"
                                  [(ngModel)]="onlyNormalBooks"
                >
                    Normal Books
                </mat-slide-toggle>
            </div>
            <div class="d-flex justify-content-between">
                <button mat-stroked-button color="primary" class="w-50 mr-2" (click)="onSearch()">
                    <i class="material-icons">search</i>
                </button>
                <button mat-stroked-button color="primary" class="w-50" (click)="clearInputs()">
                    Clear
                </button>
            </div>
        </div>
    </mat-drawer>
    <main class="container">
        <div class="header">
            <h1>Books catalog</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a mat-stroked-button color="primary" (click)="onAddBook()" *ngIf="isHasAccess()">
                <mat-icon>add</mat-icon>
                <span>Add Book</span>
            </a>
        </div>
        <mat-divider class="my-2"></mat-divider>
        <div *ngIf="isLoading" class="spinner-container min-vh-50">
            <mat-spinner class="spinner"></mat-spinner>
        </div>
        <app-books-list *ngIf="!isLoading"></app-books-list>
        <section class="d-flex justify-content-center align-items-center my-2" *ngIf="!isLoading && (pagination$ | async).length > 0">
            <mat-paginator
                    [length]="(pagination$ | async).length"
                    [pageSize]="paginator.pageSize || 8"
                    [pageIndex]="(pagination$ | async).page"
                    [pageSizeOptions]="[16, 32, 48, 64, getAllOption((pagination$ | async).length)]"
                    (page)="onPaginate($event)"
                    #paginator
            ></mat-paginator>
        </section>
    </main>
</mat-drawer-container>
