<section class="user-info-section">
    <aside class="image-aside">
        <img
            class="profile-image"
            src="{{
                librarian.profileImage
                    ? librarian.profileImage
                    : 'https://www.w3schools.com/w3css/img_avatar3.png'
            }}"
            alt="Avatar"
        />
    </aside>
    <section class="info-section">
        <section class="user-personal-info">
            <p>
                Name: <b>{{ librarian.name }}</b>
            </p>
            <p>
                Email: <b>{{ librarian.email }}</b>
            </p>
            <p>
                Department: <b>{{ librarian.department.address }}</b>
            </p>
        </section>
    </section>
</section>
