<div class="wrapper fadeInDown">
    <div class="form-content">
        <span class="page-title">Registration</span>
        <hr style="background-color: #0d0d0d;" />
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="mainInfoForm">
                <form [formGroup]="mainInfoForm">
                    <ng-template matStepLabel>Main info</ng-template>
                    <mat-form-field class="form-input">
                        <mat-label>Reader ticket</mat-label>
                        <input
                            matInput
                            type="number"
                            name="reader_ticket"
                            (change)="error = null"
                            formControlName="reader_ticket"
                            placeholder="123213"
                        />
                        <mat-error *ngIf="error">
                            {{ error }}
                        </mat-error>
                        <mat-error
                            *ngIf="
                                hasError('reader_ticket', 'required') && !error
                            "
                        >
                            Reader ticket is required
                        </mat-error>
                        <mat-error
                            *ngIf="
                                hasError('reader_ticket', 'pattern') && !error
                            "
                        >
                            Reader ticket is not valid. Must starts with 1-9 and
                            contains 10 numbers
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-input">
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            type="email"
                            name="email"
                            (change)="emailError = null"
                            formControlName="email"
                            placeholder="Ex. example@mail.com"
                        />
                        <mat-error *ngIf="emailError">
                            {{ emailError }}
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('email', 'required') && !error"
                        >
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="
                                (hasError('email', 'email') ||
                                    hasError('email', 'pattern')) &&
                                !error
                            "
                        >
                            Email is not valid. Ex. example@mail.com
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-input">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            type="text"
                            name="name"
                            formControlName="name"
                            placeholder="Ex. example@mail.com"
                        />
                        <mat-error *ngIf="emailError">
                            {{ emailError }}
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('name', 'required') && !error"
                        >
                            Name is required
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button
                            mat-stroked-button
                            matStepperNext
                            color="primary"
                            class="form-btn add-form-btn move-btn fadeIn fourth"
                        >
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="passwordForm">
                <form [formGroup]="passwordForm">
                    <ng-template matStepLabel>Password</ng-template>
                    <mat-form-field class="form-input">
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            [type]="hidePassword ? 'password' : 'text'"
                            name="password"
                            formControlName="password"
                            placeholder="Ex. Qwerty8_"
                            #password
                        />
                        <button
                            mat-icon-button
                            matSuffix
                            (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword"
                        >
                            <mat-icon>{{
                                checkIcon(hidePassword, password.value)
                            }}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="hasError('password', 'required') && !error"
                        >
                            Password is required.
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('password', 'pattern') && !error"
                        >
                            Password is not valid. Ex. Qwerty8_
                        </mat-error>
                        <mat-error *ngIf="isPasswordError">
                            {{ error }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-input">
                        <mat-label>Input password again</mat-label>
                        <input
                            matInput
                            [type]="hideRetypePassword ? 'password' : 'text'"
                            name="password2"
                            formControlName="password2"
                            #password2
                        />
                        <button
                            mat-icon-button
                            matSuffix
                            (click)="hideRetypePassword = !hideRetypePassword"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideRetypePassword"
                        >
                            <mat-icon>{{
                                checkIcon(hideRetypePassword, password2.value)
                            }}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="hasError('password2', 'required') && !error"
                        >
                            Please retype password
                        </mat-error>
                        <mat-error
                            *ngIf="hasError('password2', 'pattern') && !error"
                        >
                            Please retype valid password. Ex. Qwerty8_
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button
                            mat-stroked-button
                            color="primary"
                            matStepperPrevious
                            class="form-btn add-form-btn move-btn"
                        >
                            Back
                        </button>
                        <button
                            mat-stroked-button
                            matStepperNext
                            color="primary"
                            class="form-btn add-form-btn move-btn"
                        >
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div class="btn-group">
                    <button
                        mat-raised-button
                        class="form-btn add-form-btn"
                        color="primary"
                        (click)="onRegisterUser(stepper)"
                    >
                        Submit
                    </button>

                    <button
                        matStepperPrevious
                        mat-stroked-button
                        color="primary"
                        class="form-btn add-form-btn move-btn"
                    >
                        Back
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="form-footer">
            <a
                class="underline-link underline-hover"
                [routerLink]="'/' + links.LOGIN"
            >
                Already have account?
            </a>
        </div>
    </div>
</div>
