<div class="wrapper fadeInDown">
    <div class="form">
        <p class="form__title">Registration</p>
        <hr />
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="mainInfoForm">
                <form [formGroup]="mainInfoForm">
                    <ng-template matStepLabel>Main info</ng-template>
                    <mat-form-field class="form__input">
                        <mat-label>Reader ticket</mat-label>
                        <input matInput type="number" name="readerTicket" formControlName="readerTicket" placeholder="123213" (change)="error = null" />
                        <mat-error *ngIf="error">{{ error }}</mat-error>
                        <mat-error *ngIf="hasError('readerTicket', 'required') && !error">
                            Reader ticket is required
                        </mat-error>
                        <mat-error *ngIf=" hasError('readerTicket', 'pattern') && !error">
                            Reader ticket is not valid. Must starts with 1-9 and contains 10 numbers
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" formControlName="email" placeholder="Ex. example@mail.com" (change)="emailError = null" />
                        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
                        <mat-error *ngIf="hasError('email', 'required') && !error">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="(hasError('email', 'email') || hasError('email', 'pattern')) && !error">
                            Email is not valid. Ex. example@mail.com
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="name" formControlName="name" placeholder="Ex. example@mail.com" />
                        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
                        <mat-error *ngIf="hasError('name', 'required') && !error">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button mat-stroked-button matStepperNext color="primary" class="form-btn add-form-btn move-btn fadeIn fourth">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="passwordForm">
                <form [formGroup]="passwordForm">
                    <ng-template matStepLabel>Password</ng-template>
                    <mat-form-field class="form__input">
                        <mat-label>Password</mat-label>
                        <input matInput name="password" formControlName="password" placeholder="Ex. Qwerty8_" [type]="hidePassword ? 'password' : 'text'" #password />
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" (click)="hidePassword = !hidePassword" >
                            <mat-icon>{{checkIcon(hidePassword, password.value)}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('password', 'required') && !error">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="hasError('password', 'pattern') && !error">
                            Password is not valid. Ex. Qwerty8_
                        </mat-error>
                        <mat-error *ngIf="isPasswordError">
                            {{ error }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Input password again</mat-label>
                        <input matInput name="password2" formControlName="password2" [type]="hideRetypePassword ? 'password' : 'text'" #password2 />
                        <button mat-icon-button matSuffix
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRetypePassword"
                                (click)="hideRetypePassword = !hideRetypePassword"
                        >
                            <mat-icon>{{checkIcon(hideRetypePassword, password2.value)}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('password2', 'required') && !error">
                            Please retype password
                        </mat-error>
                        <mat-error *ngIf="hasError('password2', 'pattern') && !error">
                            Please retype valid password. Ex. Qwerty8_
                        </mat-error>
                    </mat-form-field>
                    <div class="btn-group">
                        <button mat-stroked-button color="primary" matStepperPrevious class="form-btn add-form-btn move-btn">
                            Back
                        </button>
                        <button mat-stroked-button matStepperNext color="primary" class="form-btn add-form-btn move-btn">
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="d-flex flex-column px-5 py-2 text-left">
                    <p>Reared Ticket: {{ mainInfoForm.value?.readerTicket }}</p>
                    <p>Email: {{ mainInfoForm.value?.email }}</p>
                    <p>Name: {{ mainInfoForm.value?.name }}</p>
                </div>
                <div class="btn-group">
                    <button matStepperPrevious mat-stroked-button color="primary" class="form-btn add-form-btn move-btn">
                        Back
                    </button>
                    <button mat-raised-button class="form-btn add-form-btn" color="primary" (click)="onRegisterUser(stepper)">
                        Submit
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="form__footer">
            <a class="underline-link underline-hover" [routerLink]="'/' + links.LOGIN">
                Already have account?
            </a>
        </div>
    </div>
</div>
