<section class="edit-section">
    <h3>
        Please select student
    </h3>
    <div class="flex">
        <!--  TODO fix styles   -->
        <mat-form-field style="width: 250px">
            <mat-label>Email</mat-label>
            <input type="text"
                   placeholder="Email"
                   aria-label="Email"
                   matInput
                   [matAutocomplete]="auto"
                   [(ngModel)]="studentSelect"
                   (ngModelChange)="onChange()"
            >
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let student of students$ | async" [value]="student.email" (click)="onSetStudent(student)">
                    {{student.email}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</section>
