<section class="edit-section">
    <h3>
        Please select student
    </h3>
    <div class="d-flex justify-content-center align-items-center" *ngVar="student$ | async as student">
        <!--  TODO fix styles   -->
        <div style="width: 250px">
            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input type="text"
                       placeholder="Email"
                       aria-label="Email"
                       matInput
                       [matAutocomplete]="auto"
                       [(ngModel)]="studentSelect"
                       (ngModelChange)="onChange()"
                >
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let student of students$ | async" [value]="student.email" (click)="onSetStudent(student)">
                        {{student.email}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="d-flex justify-content-between">
                <button mat-flat-button color="primary" class="w-50 mr-2">Select</button>
                <button mat-flat-button class="w-50 border border-yellow text-main" (click)="deleteStudent()">Delete</button>
            </div>
        </div>
        <div class="border-left border-yellow ml-4 pl-4" *ngIf="student">
            <h4 class="text-left">Student Info</h4>
            <p>Name: <span class="text-main">{{ student.name }}</span></p>
        </div>
    </div>
</section>
