<section class="table-section">
    <section class="mb-1">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Filters</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="d-block">
                    <mat-label>Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        [(ngModel)]="date"
                        (ngModelChange)="onLoadLoansPage()"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-slide-toggle
                    color="primary"
                    class="d-block"
                    [(ngModel)]="showOnlyDebtors"
                    (ngModelChange)="onLoadLoansPage()"
                >
                    Show only debtors
                </mat-slide-toggle>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table multiTemplateDataRows matSort matSortDisableClear
           class="mat-elevation-z8" matSortActive="loanTime" matSortDirection="asc"
           [dataSource]="dataSource"
    >
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
            <td mat-cell *matCellDef="let element" matSort>
                {{ element.user.name }} ({{ element.user.email }})
            </td>
        </ng-container>

        <ng-container matColumnDef="librarian">
            <th mat-header-cell *matHeaderCellDef>Librarian</th>
            <td mat-cell *matCellDef="let element">{{ element.librarian.name }} ({{ element.librarian.email }}) </td>
        </ng-container>

        <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef>Book</th>
            <td mat-cell *matCellDef="let element">{{ element.book.title }} ({{ element.book.isbn }})</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
        </ng-container>

        <ng-container matColumnDef="returnedAt">
            <th mat-header-cell *matHeaderCellDef>Returned At</th>
            <td mat-cell *matCellDef="let element">{{ element.returnedAt | date }}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell [attr.colspan]="columnsToDisplay.length" *matCellDef="let element">
                <div class="loan-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="loan-diagram">
                        <div class="loan-info">
                            <h4>User:</h4>
                            <p>name: <b>{{ element.user.name }}</b></p>
                            <p>email: <b>{{ element.user.email }}</b></p>
                            <p>phone: <b>{{ element.user.phone }}</b></p>
                        </div>
                        <div class="loan-info">
                            <h4>Librarian:</h4>
                            <p>name: <b>{{ element.user.name }}</b></p>
                            <p>email: <b>{{ element.user.email }}</b></p>
                            <p>phone: <b>{{ element.user.phone }}</b></p>
                        </div>
                        <div class="loan-info">
                            <h4>Book:</h4>
                            <p>title: <b>{{ element.book.title }}</b></p>
                            <p>year: <b>{{ element.book.year }}</b></p>
                            <p>isbn: <b>{{ element.book.isbn }}</b></p>
                        </div>
                        <div class="loan-info">
                            <div class="btn-group" *ngIf="!element.returnedTime">
                                <a mat-stroked-button color="primary" class="expanded-btn" matTooltip="Return book"
                                    (click)="returnBook(element.id, element.book.bookId)"
                                >
                                    <i class="material-icons">keyboard_return</i> Return book
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
        <tr mat-row class="detail-row" *matRowDef="let row; columns: ['expandedDetail']"></tr>
    </table>
    <mat-paginator
        [length]="getTotalItems() || 0"
        [pageSize]="paginator.pageSize || 5"
        [pageSizeOptions]="[5, 10]"
    ></mat-paginator>
</section>
<app-small-screen></app-small-screen>
