<div class="mat-elevation-z8 user-loans-table">
    <table mat-table [dataSource]="scheduleDataSource" matSort>
        <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Day
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.day }}
            </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Start
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.period.start }}
            </td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                End
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.period.end }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedScheduleColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedScheduleColumns"
        ></tr>
    </table>
</div>
