@import '../../../../styles';

.book-container {
  @include centered-flex-container();
  min-height: 100%;

  .image {
    width: 225px;
    height: 288px;
  }
}

.stats-container {
  @include centered-flex-container();
  min-height: 100%;
}
