<div class="wrapper">
    <div class="form" *ngVar="(book$ | async) as book">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="book-container" *ngIf="!isLoading">
            <h2>{{ book?.title }}</h2>
            <img class="book-detail-image" src="{{ book?.image }}" alt="img" />
            <section class="book-info">
                <p class="book-description">Description: {{ book?.description }}</p>
                <p>Author: {{ getAuthors(book?.authors) }}</p>
                <p>Genre: {{ getGenres(book?.genres) }}</p>
                <p>Language: {{ getLanguage(book?.language) }}</p>
                <p>Year: {{ book?.year }}</p>
                <p>Quantity: {{ book?.quantity }}</p>
            </section>
            <div class="btn-group">
                <button mat-stroked-button color="primary" class="mr-2"
                        [disabled]="!book.quantity" (click)="onOpenLoanBookModal()" *ngIf="user.librarian"
                >
                    Loan
                </button>
                <button mat-stroked-button color="primary" class="mr-2"
                        (click)="onEditBook()" *ngIf="user.admin || user.librarian"
                >
                    Edit
                </button>
                <button mat-stroked-button color="primary" class="mr-2"
                        (click)="onDeleteBook()" *ngIf="user.admin || user.librarian"
                >
                    Delete
                </button>
                <button mat-stroked-button color="primary" class="mr-2"
                        (click)="onOrderBook()" *ngIf="!user.admin && !user.librarian"
                >
                    Order
                </button>
            </div>
        </div>
    </div>
</div>
