<h1 mat-dialog-title>Hi, {{data.name ? data.name : 'user'}}</h1>
<div mat-dialog-content>
    <p>Would you like to change password?</p>
    <form
        class="modal-form"
        [formGroup]="passwordsForm"
        (ngSubmit)="onChangeUserPassword()"
    >
        <mat-form-field class="modal-password-input">
            <mat-label>Enter old password</mat-label>
            <input
                name="oldPassword"
                formControlName="oldPassword"
                matInput
                [type]="hideOldPassword ? 'password' : 'text'"
                #oldPassword
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hideOldPassword = !hideOldPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideOldPassword"
            >
                <mat-icon
                    >{{checkIcon(hideOldPassword, oldPassword.value)}}</mat-icon
                >
            </button>
            <mat-error *ngIf="hasError('oldPassword', 'required') && !error">
                Old password is required
            </mat-error>
            <mat-error *ngIf="error">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="modal-password-input">
            <mat-label>Enter new password</mat-label>
            <input
                name="newPassword"
                formControlName="newPassword"
                matInput
                [type]="hideNewPassword ? 'password' : 'text'"
                #newPassword
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPassword"
            >
                <mat-icon
                    >{{checkIcon(hideNewPassword, newPassword.value)}}</mat-icon
                >
            </button>
            <mat-error *ngIf="hasError('newPassword', 'required') && !error">
                New password is required
            </mat-error>
            <mat-error *ngIf="hasError('newPassword', 'pattern') && !error">
                New password is not valid
            </mat-error>
        </mat-form-field>

        <mat-form-field class="modal-password-input">
            <mat-label>Retype new password</mat-label>
            <input
                name="retypeNewPassword"
                formControlName="retypeNewPassword"
                matInput
                [type]="hideRetypePassword ? 'password' : 'text'"
                #retypeNewPassword
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hideRetypePassword = !hideRetypePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRetypePassword"
            >
                <mat-icon
                    >{{checkIcon(hideRetypePassword,
                    retypeNewPassword.value)}}</mat-icon
                >
            </button>
            <mat-error
                *ngIf="hasError('retypeNewPassword', 'required') && !error"
            >
                Please retype password
            </mat-error>
            <mat-error
                *ngIf="hasError('retypeNewPassword', 'pattern') && !error"
            >
                Please retype valid password
            </mat-error>
        </mat-form-field>
        <div style="text-align: center;">
            <button
                type="button"
                class="no-button"
                mat-raised-button
                (click)="onNoClick()"
            >
                Cancel
            </button>

            <button
                class="form-button modal-form-submit"
                style="display: inline-block;"
                type="submit"
                [disabled]="passwordsForm.invalid"
            >
                Confirm
            </button>
        </div>
    </form>
</div>
