<div class="wrapper">
    <div class="form-content">
        <span class="page-title">User info</span>
        <hr style="background-color: #0d0d0d;" />
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <section class="user-info-section" *ngIf="!isLoading">
            <aside class="image-aside">
                <img
                    class="profile-image"
                    src="{{
                        student.profileImage
                            ? student.profileImage
                            : 'https://www.w3schools.com/w3css/img_avatar3.png'
                    }}"
                    alt="Avatar"
                />
            </aside>
            <section class="info-section">
                <section class="user-personal-info">
                    <p>
                        Name: <b>{{ student.name }}</b>
                    </p>
                    <p>
                        Email: <b>{{ student.email }}</b>
                    </p>
                    <button
                        mat-button
                        type="button"
                        class="btn"
                        matTooltip="{{
                            student.status === 'ACTIVATED'
                                ? 'Block student'
                                : 'Activate student'
                        }}"
                    >
                        {{
                            student.status === 'ACTIVATED'
                                ? 'Block'
                                : 'Activate'
                        }}
                    </button>
                </section>
                <section class="user-library-info">
                    <p>
                        Reader ticket: <b>{{ student.readerTicket }}</b>
                    </p>
                    <p>
                        Status: <b>{{ student.status }}</b>
                    </p>
                </section>
            </section>
        </section>
        <mat-divider style="width: 95%; margin: 10px auto 0;"></mat-divider>
        <section class="student-loan-info">
            <h3>Loans history</h3>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Ex. Mia"
                />
            </mat-form-field>

            <div class="mat-elevation-z8 user-loans-table">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="loanTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Loan time
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.loanTime | date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="returnedTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Returned time
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{
                                row.returnedTime
                                    ? (row.returnedTime | date)
                                    : 'Not returned yet'
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bookISBN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            ISBN
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.bookISBN }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="librarianEmail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Librarian email
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.librarianEmail }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="departmentAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Department address
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.departmentAddress }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
            </div>
        </section>
    </div>
</div>
