<button
    mat-fab
    color="primary"
    class="filter-button"
    (click)="drawer.toggle(); toggleFilterButton()"
    [style.display]="showFilterButton ? 'block' : 'none'"
    matTooltip="Open filter panel"
>
    <i class="material-icons">arrow_forward_ios</i>
</button>
<mat-drawer-container class="page-container" autosize>
    <mat-drawer #drawer [disableClose]="true" class="sidenav" mode="over">
        <button
            mat-button
            class="close-sidenav"
            (click)="toggleFilterButton(); drawer.toggle()"
        >
            <i class="material-icons">close</i>
        </button>
        <h2>Choose filter</h2>
        <div class="d-block">
            <mat-form-field class="d-block" style="margin: 0 1% 0 1%;">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="filterName" required>
                    <mat-option
                        *ngFor="let filter of bookFilters"
                        [value]="filter.value"
                        >{{ filter.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field class="d-block">
                <mat-label>Value</mat-label>
                <input
                    matInput
                    name="value"
                    [(ngModel)]="filterValue"
                    [disabled]="filterName === bookFilters[0].value"
                />
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field class="d-block">
                <mat-label>From</mat-label>
                <input
                    matInput
                    type="number"
                    name="yearFrom"
                    placeholder="Ex. 1689"
                    [(ngModel)]="fromYear"
                />
            </mat-form-field>
            <mat-form-field class="d-block">
                <mat-label>To</mat-label>
                <input
                    matInput
                    name="yearTo"
                    [(ngModel)]="toYear"
                    placeholder="Ex. 2010"
                />
            </mat-form-field>
            <mat-form-field class="d-block">
                <mat-label>Author</mat-label>
                <mat-select [(value)]="authorSelect" required>
                    <mat-option>-</mat-option>
                    <mat-option
                        *ngFor="let author of authors"
                        [value]="author.id"
                        >{{ author.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field class="d-block">
                <mat-label>Genre</mat-label>
                <mat-select [(value)]="genreSelect" required>
                    <mat-option>-</mat-option>
                    <mat-option
                        *ngFor="let genre of genres"
                        [value]="genre.id"
                        >{{ genre.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field class="d-block">
                <mat-label>Department address</mat-label>
                <mat-select [(value)]="departmentSelect" required>
                    <mat-option value="''">All</mat-option>
                    <mat-option
                        *ngFor="let department of departments"
                        [value]="department.id"
                        >{{ department.address }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <div class="button-group">
                <button
                    mat-stroked-button
                    color="primary"
                    class="btn filter-form-button"
                    (click)="
                        booksSubscriptionHandle();
                        drawer.toggle();
                        toggleFilterButton()
                    "
                >
                    <i class="material-icons">search</i>
                </button>
                <button
                    mat-stroked-button
                    color="primary"
                    class="btn filter-form-button"
                    (click)="clearInputs()"
                >
                    Clear
                </button>
            </div>
        </div>
    </mat-drawer>
    <div class="header">
        <h1>Books catalog</h1>
    </div>

    <div class="post-features-container">
        <div style="overflow: hidden;">
            <a
                *ngIf="
                    user.role.role === roles.LIBRARIAN ||
                    user.role.role === roles.MANAGER
                "
                mat-stroked-button
                color="primary"
                class="btn"
                style="float: right;"
                matTooltip="Add book"
                [routerLink]="'/' + links.ADD_BOOK"
            >
                <i class="material-icons">add</i> Add book
            </a>
        </div>
        <mat-divider style="margin: 1% 0 1% 0;"></mat-divider>
        <mat-form-field class="department-select">
            <mat-label>Department address</mat-label>
            <mat-select
                [(value)]="departmentSelect"
                (valueChange)="showBooksByDepartment()"
                required
            >
                <mat-option value="''">All</mat-option>
                <mat-option
                    *ngFor="let department of departments"
                    [value]="department.id"
                    >{{ department.address }}</mat-option
                >
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="books-container" *ngIf="books.length > 0; else noBooks">
        <div class="flex-container" *ngIf="!isLoading">
            <div class="card" style="width: 100%;" *ngFor="let book of books">
                <div class="image-container">
                    <img
                        src="{{
                            book.image
                                ? book.image
                                : 'https://www.adazing.com/wp-content/uploads/2019/02/open-book-clipart-06-1-300x300.png'
                        }}"
                        alt="Book image"
                        class="card-image"
                    />
                    <div class="data-on-image">
                        <a
                            [routerLink]="['/books', book.id]"
                            class="card-details-link"
                            >Details</a
                        >
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-details">
                        <span class="characteristic-name">Title</span>:
                        {{ book.name }}
                    </span>
                    <span class="card-details">
                        <span class="characteristic-name">Author</span>:
                        {{ book.author.name }}
                    </span>
                    <span class="card-details">
                        <span class="characteristic-name">Genre</span>:
                        {{ book.genre.name }}
                    </span>
                    <span class="card-details">
                        <span class="characteristic-name">Year</span>:
                        {{ book.year }}
                    </span>
                    <span class="card-details">
                        <span class="characteristic-name">Book location</span>:
                        {{ book.department.address }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>

<ng-template #noBooks>
    <div
        style="text-align: center; font-size: 3rem; margin-top: 20px;"
        *ngIf="!isLoading"
    >
        <span>There are no books</span>
    </div>
</ng-template>
