<div class="chart" *ngIf="!isChartEmpty()">
    <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="statistic"
    >
    </ngx-charts-line-chart>
</div>
<div class="d-flex justify-content-center align-items-center h-75" *ngIf="isChartEmpty()">
    <h2>Chart is empty</h2>
</div>
