@import 'src/styles'

.discard-btn
  cursor: pointer
  padding: 8px 0
  outline: none
  border-radius: 5px
  &.discard-yes-btn
    background-color: $color-main
    color: $color-background
    border: none
  &.discard-no-btn
    background-color: $color-background
    color: $color-main
    border: 1px solid $color-main
    &:hover
      background-color: $color-main-light
