<div mat-dialog-content>
    <h4 class="w-78-center">Are you sure?</h4>
    <div class="btn-group text-center">
        <button
            class="form-btn discard-btn discard-yes-btn"
            type="button"
            (click)="dialogRef.close(true)"
        >
            Yes
        </button>
        <button
            class="form-btn discard-btn discard-no-btn"
            type="button"
            (click)="dialogRef.close(false)"
        >
            No
        </button>
    </div>
</div>
