<a
    mat-menu-item
    routerLinkActive="menu-active"
    [routerLink]="'/' + links.MY_ACCOUNT"
    class="mat-menu-item"
>
    Profile
</a>
<div class="small-screen-container" *ngIf="isSmallScreen">
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.BOOKS"
        mat-menu-item
        class="mat-menu-item"
    >
        Books
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.LOANS"
        *ngIf="isLibrarian"
        mat-menu-item
        class="mat-menu-item"
    >
        Loans
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.ORDERS"
        *ngIf="isLibrarian"
        mat-menu-item
        class="mat-menu-item"
    >
        Orders
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.LOANS_CHART"
        *ngIf="isLibrarian || isManager"
        mat-menu-item
        class="mat-menu-item"
    >
        Statistic
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.LIBRARIANS"
        *ngIf="isManager"
        mat-menu-item
        class="mat-menu-item"
    >
        Librarians
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.STUDENTS"
        *ngIf="isLibrarian || isManager"
        mat-menu-item
        class="mat-menu-item"
    >
        Students
    </a>
    <a
        routerLinkActive="menu-active"
        [routerLink]="'/' + links.EDIT_PAGE"
        *ngIf="isLibrarian || isManager"
        mat-menu-item
        class="mat-menu-item"
    >
        Managing
    </a>
</div>
