<form class="modal-form">
    <h4>Move book</h4>
    <mat-divider></mat-divider>
    <mat-form-field class="modal-input">
        <mat-label>Department</mat-label>
        <mat-select [(value)]="data.departmentId" [formControl]="department" required>
            <mat-option>-</mat-option>
            <mat-option
                *ngFor="let department of departments"
                [value]="department.id"
                >{{ department.address }}</mat-option
            >
        </mat-select>
        <mat-error *ngIf="department.invalid">Department is required</mat-error>
    </mat-form-field>
    <mat-form-field
        class="modal-input"
        hintLabel="Max {{data.availableBooks}} books"
    >
        <mat-label>Quantity</mat-label>
        <input
            [(ngModel)]="data.booksToMove"
            matInput
            type="number"
            name="quantity"
            [formControl]="quantity"
            (ngModelChange)="checkQuantity()"
            placeholder="1"
            required
        />
        <mat-hint align="end" *ngIf="!quantity.hasError('required') && !error"
            >{{data.booksToMove || 0}}/{{data.availableBooks}}</mat-hint
        >
        <mat-error *ngIf="quantity.hasError('required')">Quantity is required</mat-error>
        <mat-error *ngIf="error">Max {{data.availableBooks}} books!</mat-error>
    </mat-form-field>
    <div class="btn-group">
        <button
            mat-raised-button
            class="form-btn"
            color="primary"
            type="submit"
            (click)="close()"
            [disabled]="!data.departmentId || !data.booksToMove || error"
        >
            Move
        </button>
        <button
            mat-stroked-button
            class="form-btn"
            color="primary"
            type="button"
            (click)="dialogRef.close()"
        >
            Cancel
        </button>
    </div>
</form>
