<section class="edit-section">
    <div class="input-groups">
        <mat-form-field class="edit-field">
            <mat-label>Address</mat-label>
            <mat-select
                name="address"
                [(ngModel)]="departmentSelect"
                (ngModelChange)="setBooksForSelect()"
                required
            >
                <mat-option
                    *ngFor="let department of departments"
                    [value]="department.id"
                >
                    {{ department.address }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="edit-field">
            <mat-label>ISBN</mat-label>
            <mat-select
                name="isbn"
                [(ngModel)]="bookSelect"
                [disabled]="!departmentSelect"
                required
            >
                <mat-option
                    *ngFor="let book of booksForSelect"
                    [value]="book.id"
                >
                    {{ book.isbn }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="btn-group">
        <button
            mat-raised-button
            class="form-btn edit-btn"
            color="primary"
            type="submit"
            [disabled]="!bookSelect"
            (click)="editBook()"
        >
            Edit
        </button>
        <button
            mat-raised-button
            class="form-btn edit-btn"
            color="warn"
            type="button"
            [disabled]="!bookSelect"
            (click)="deleteBook()"
        >
            Delete
        </button>
    </div>
</section>
