@import "src/styles";

.image-container {
  height: 200px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.input {
  width: 50%;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  @include media-breakpoint-between(sm, lg) {
    width: 75%;
  }
}

::ng-deep {
  .mat-option:last-child .mat-pseudo-checkbox {
    display: none;
  }

  .mat-stepper-horizontal .mat-horizontal-content-container {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}
