<h2 mat-dialog-title class="text-center">{{ getTitle() }}</h2>
<mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="mainForm">
            <form class="d-flex flex-column align-items-center" [formGroup]="mainForm">
                <ng-template matStepLabel>Main</ng-template>
                <mat-form-field class="input">
                    <input type="text" formControlName="isbn" placeholder="ISBN" matInput />
                    <span matPrefix>ISBN</span>
                    <mat-error *ngIf="hasError('isbn', 'pattern')">ISBN is not valid</mat-error>
                    <mat-error *ngIf="hasError('isbn', 'required')">ISBN is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>Title</mat-label>
                    <input type="text" formControlName="title" placeholder="title" matInput />
                    <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>Language</mat-label>
                    <input matInput type="text" name="language" formControlName="language" placeholder="Language" [matAutocomplete]="languageAutoComplete">
                    <mat-autocomplete #languageAutoComplete="matAutocomplete" [displayWith]="displayWith">
                        <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">{{ language.name }}</mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="hasError('language', 'incorrect')">Please select a language</mat-error>
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step [stepControl]="detailsForm">
            <form class="d-flex flex-column align-items-center" [formGroup]="detailsForm">
                <ng-template matStepLabel>Details</ng-template>
                <mat-form-field class="w-50">
                    <mat-label>Book description</mat-label>
                    <textarea matInput cdkTextareaAutosize rows="1"
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              formControlName="description" placeholder="Description" maxlength="512"
                              #bookDescription
                    ></textarea>
                    <mat-hint align="end">{{bookDescription.value?.length || 0}}/512</mat-hint>
                    <mat-error *ngIf="hasError('description', 'required')">
                        Description is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Authors</mat-label>
                    <mat-select name="authors" formControlName="authors" multiple>
                        <mat-option *ngFor="let author of authors$ | async" [value]="author._id">
                            {{ author.name }} ({{ getCountryName(author.country) }})
                        </mat-option>
                        <mat-divider></mat-divider>
                        <mat-option value="_add_" (click)="onAddAuthors()">Add Author</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('authors', 'required')" >
                        Authors are required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Genres</mat-label>
                    <mat-select name="genres" formControlName="genres" multiple>
                        <mat-option *ngFor="let genre of genres$ | async" [value]="genre._id">
                            {{ genre.name }}
                        </mat-option>
                        <mat-divider></mat-divider>
                        <mat-option value="_add_" (click)="onAddGenres()">Add Genre</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('genres', 'required')">
                        Genres are required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Year</mat-label>
                    <input matInput type="number" name="year" formControlName="year" placeholder="Year" />
                    <mat-error *ngIf="hasError('year', 'required')">
                        Year is required
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>File</ng-template>
            <div class="d-flex flex-column">
                <mat-slide-toggle class="mb-2" color="primary" [(ngModel)]="isEbook">Ebook</mat-slide-toggle>
                <mat-form-field class="w-50" *ngIf="!isEbook">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" name="quantity" placeholder="Quantity" [formControl]="quantity" />
                    <mat-error *ngIf="quantity.hasError('required')">Quantity is required</mat-error>
                    <mat-error *ngIf="quantity.hasError( 'max')">You cannot add so much books</mat-error>
                </mat-form-field>
                <p class="my-1">Please select image:</p>
                <input class="mb-2" type="file" (change)="onImageChanged($event)" />
                <image-cropper
                        class="mb-2"
                        [imageChangedEvent]="imageFile"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="3 / 4"
                        [cropperMinWidth]="350"
                        [cropperMinHeight]="450"
                        [onlyScaleDown]="true"
                        [class.invisible]="!image"
                        (imageCropped)="onImageCropped($event)"
                        *ngIf="imageFile"
                ></image-cropper>
                <input type="file" (change)="onBookFileChanged($event)" *ngIf="isEbook" />
                <p class="mt-2" *ngIf="isEdit && linkToFile">File: <span class="text-main"><a [href]="linkToFile">{{ linkToFile }}</a></span></p>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div class="d-flex justify-content-center" *ngIf="imageFile || isEdit">
                <div class="image-container" [ngStyle]="{ 'background-image': getImage() }"></div>
            </div>
            <p>ISBN: <span class="text-main">{{ mainForm?.value?.isbn }}</span></p>
            <p>Title: <span class="text-main">{{ mainForm?.value?.title }}</span></p>
            <p *ngIf="!isEbook">Quantity: <span class="text-main">{{ quantity.value }}</span></p>
            <p>Language: <span class="text-main">{{ languageControl.value?.name }}</span></p>
            <p>Description: <span class="text-main">{{ detailsForm?.value?.description }}</span></p>
            <p>Authors: <span class="text-main">{{ getAuthorsForSummary(authorsControl.value) }}</span></p>
            <p>Genres: <span class="text-main">{{ getGenres(detailsForm?.value?.genres) }}</span></p>
            <p>Year: <span class="text-main">{{ detailsForm?.value?.year }}</span></p>
            <p>Ebook: <span class="text-main">{{ isEbook ? 'Yes' : 'No' }}</span></p>
            <p *ngIf="isEdit && linkToFile">File: <span class="text-main"><a [href]="linkToFile">{{ linkToFile }}</a></span></p>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancelAction()">{{ getBtnCancelTitle() }}</button>
    <button mat-raised-button color="primary" [disabled]="isInvalid()" (click)="onDoAction()">{{ getBtnActionTitle() }}</button>
</mat-dialog-actions>
