<div class="wrapper fadeInDown">
    <div class="form-content">
        <span class="page-title">Add user</span>
        <hr style="background-color: #0d0d0d;" />
        <form (ngSubmit)="onCreateUser()" [formGroup]="createUserForm">
            <mat-form-field class="form-input d-block">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    type="email"
                    name="email"
                    formControlName="email"
                    placeholder="Ex. example@mail.com"
                />
                <mat-error *ngIf="error">
                    {{ error }}
                </mat-error>
                <mat-error *ngIf="hasError('email', 'required') && !error">
                    Email is required
                </mat-error>
                <mat-error
                    *ngIf="
                        (hasError('email', 'email') ||
                            hasError('email', 'pattern')) &&
                        !error
                    "
                >
                    Email is not valid
                </mat-error>
            </mat-form-field>
            <br /><br />
            <mat-radio-group
                class="d-block"
                name="userRole"
                aria-label="Choose role"
                formControlName="userRole"
            >
                <mat-radio-button value="student">Student</mat-radio-button>
                <mat-radio-button value="librarian">Librarian</mat-radio-button>
                <mat-error
                    *ngIf="
                        hasError('userRole', 'required') &&
                        !error &&
                        createUserForm.touched
                    "
                >
                    User role is required
                </mat-error>
            </mat-radio-group>
            <br />
            <button
                class="form-button"
                type="submit"
                [disabled]="createUserForm.invalid"
            >
                Create
            </button>
        </form>
    </div>
</div>
