<div class="table-section">
    <section class="d-flex justify-content-between align-items-center mb-1">
        <button mat-stroked-button color="primary" (click)="onOpenCreatePopup()">
            <i class="material-icons">add</i> Add student
        </button>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input
                    matInput
                    [(ngModel)]="filterValue"
                    (ngModelChange)="loadStudentsPage()"
            />
        </mat-form-field>
    </section>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
        matSort
        matSortActive="name"
        matSortDirection="desc"
        matSortDisableClear
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.name ? element.name : 'Name is not provided' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Email
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.email }}
            </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Phone
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.phone }}
            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Status
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.active ? "Active" : "Not Active" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplay.length"
            >
                <div
                    class="user-table-expand-detail"
                    [@detailExpand]=" element == expandedElement ? 'expanded' : 'collapsed'"
                >
                    <div class="profile-image-container">
                        <img
                            class="profile-image"
                            src="{{element.profileImage ? element.profileImage : 'https://www.w3schools.com/w3css/img_avatar3.png'}}"
                            alt="profile image"
                        />
                    </div>
                    <div class="info-section">
                        <p>Name: <span class="text-main">{{ element.name }}</span></p>
                        <p>Email: <span class="text-main">{{ element.email }}</span></p>
                        <p>Phone: <span class="text-main">{{ element.phone }}</span></p>
                        <p>Status: <span class="text-main">{{ element.active ? "Active" : "Not Active" }}</span></p>
                    </div>
                    <div class="d-flex user-link">
                        <button
                                mat-stroked-button
                                color="primary"
                                class="user-link-button mr-2"
                                matTooltip="Delete Student"
                                (click)="onDeleteStudent(element.id)"
                        >
                            Delete
                        </button>
                        <button
                                mat-stroked-button
                                color="primary"
                                class="user-link-button mr-2"
                                matTooltip="Edit Student"
                                (click)="onOpenEditPopup(element)"
                        >
                            Edit
                        </button>
                        <a
                            mat-stroked-button
                            color="primary"
                            class="user-link-button"
                            matTooltip="See More Information"
                            [routerLink]="'/' + links.STUDENTS + '/' + element.id"
                        >
                            More
                        </a>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
                expandedElement = expandedElement === element ? null : element
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="detail-row"
        ></tr>
    </table>
    <mat-paginator
        [length]="paginator.pageSize || 5"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
    ></mat-paginator>
</div>
<app-small-screen></app-small-screen>

