<div class="table-section">
    <a
        mat-stroked-button
        color="primary"
        class="btn mb-1"
        matTooltip="Add student"
        [routerLink]="'/' + links.ADD_STUDENT"
    >
        <i class="material-icons">add</i> Add student
    </a>
    <section class="mb-1">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="d-block">
                    <mat-label>Filter</mat-label>
                    <mat-select
                        [(ngModel)]="filterName"
                        (ngModelChange)="loadStudentsPage()"
                    >
                        <mat-option>-</mat-option>
                        <mat-option value="name">Name</mat-option>
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="readerTicket"
                            >Reader ticket</mat-option
                        >
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="d-block">
                    <mat-label>Value</mat-label>
                    <input
                        matInput
                        [(ngModel)]="filterValue"
                        (ngModelChange)="loadStudentsPage()"
                        [disabled]="!filterName"
                    />
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.name ? element.name : 'No name' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                Email
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.email }}
            </td>
        </ng-container>

        <ng-container matColumnDef="studentTicketReader">
            <th mat-header-cell *matHeaderCellDef>
                Reader ticket
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.readerTicket }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
                Status
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.status }}
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplay.length"
            >
                <div
                    class="user-table-expand-detail"
                    [@detailExpand]="
                        element == expandedElement ? 'expanded' : 'collapsed'
                    "
                >
                    <div class="profile-image-container">
                        <img
                            class="profile-image"
                            src="{{
                                element.profileImage
                                    ? element.profileImage
                                    : 'https://www.w3schools.com/w3css/img_avatar3.png'
                            }}"
                            alt="profile image"
                        />
                    </div>
                    <div class="info-section">
                        <p>
                            Name: <b>{{ element.name }}</b>
                        </p>
                        <p>
                            Email: <b>{{ element.email }}</b>
                        </p>
                        <p>
                            Reader ticket: <b>{{ element.readerTicket }}</b>
                        </p>
                        <p>
                            Status: <b>{{ element.status }}</b>
                        </p>
                    </div>
                    <div class="user-link">
                        <a
                            mat-icon-button
                            color="primary"
                            class="user-link-button"
                            matTooltip="More"
                            [routerLink]="
                                '/' + links.STUDENTS + '/' + element.id
                            "
                        >
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </a>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
                expandedElement = expandedElement === element ? null : element
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="detail-row"
        ></tr>
    </table>
    <mat-paginator
        [length]="helperService.getItemsPerPage()"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
    ></mat-paginator>
</div>
<app-small-screen></app-small-screen>

