<section class="table-section user-details">
    <section class="mb-1">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field class="d-block">
                    <mat-label>Department address</mat-label>
                    <mat-select
                        [(ngModel)]="departmentSelect"
                        (ngModelChange)="loadLoansPage()"
                    >
                        <mat-option value="''">All</mat-option>
                        <mat-option
                            *ngFor="let department of departments"
                            [value]="department.id"
                            >{{ department.address }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle
                    color="primary"
                    class="d-block"
                    [(ngModel)]="isShowingDebtors"
                    (ngModelChange)="loadLoansPage()"
                    >Show only arrears</mat-slide-toggle
                >
            </mat-expansion-panel>
        </mat-accordion>
    </section>
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        matSort
        matSortActive="loanTime"
        matSortDirection="asc"
        matSortDisableClear
        class="mat-elevation-z8"
    >
        <ng-container [matColumnDef]="tableColumns.LOAN_TIME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Loan time
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.loanTime | date }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.RETURNED_TIME">
            <th mat-header-cell *matHeaderCellDef>
                Returned time
            </th>
            <td mat-cell *matCellDef="let row">
                {{
                    row.returnedTime
                        ? (row.returnedTime | date)
                        : 'Not returned yet'
                }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.BOOK_ISBN">
            <th mat-header-cell *matHeaderCellDef>
                ISBN
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.bookISBN }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.READER_TICKET">
            <th mat-header-cell *matHeaderCellDef>
                Student reader ticket
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.studentReaderTicket }}
            </td>
        </ng-container>

        <ng-container [matColumnDef]="tableColumns.DEPARTMENT_ADDRESS">
            <th mat-header-cell *matHeaderCellDef>
                Department address
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.departmentAddress }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <mat-paginator
        [length]="helperService.getItemsPerPage()"
        [pageSize]="5"
    ></mat-paginator>
</section>
